{% extends 'mailer/layouts/base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block title %}
    Sender
{% endblock %}
{% block content %}

    {% for sender in senders %}
        <div class="border border-success rounded text-success mb-4 p-2">
            <p>Sender tag: {{sender.name}}</p>
            <p>Sender email: {{sender.email}}</p>
            <p>
                API URL:
               <span class="text-info">
                   {{ base_url }}mailer/send_mail/{{user.id}}/{{sender.id}}=token=&lt;yourtokenhere&gt;
               </span>
            </p>
        </div>
    {%endfor%}

{% endblock %}