$primary: rgb(0, 162, 255);
$secondary: rgb(1, 150, 100);
$success: yellowgreen;
$danger: orangered;
$info: rgb(234, 0, 255);
$warning: rgb(255, 230, 0);
$light: rgb(235, 235, 235);
$dark: rgb(20, 20, 20);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Agrego más colores
// $custom-colors: (
//   "custom-green": red,
// );

// $theme-colors: map-merge($theme-colors, $custom-colors);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@import "../../bootstrap533/scss/bootstrap.scss"